body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.top-nav {
  height: 50px;
  background-color: #3939ff;
  text-align: center;
}

.top-nav li {
  line-height: 50px;
  vertical-align: middle;
  width: 100px;
  position: relative;
}

.top-nav a {
  display: block;
  color:white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.top-nav a:hover {
  background-color: #5151ff;
}

.top-nav ul {
  margin: 0;
  padding-left: 40px;
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: flex-start;
}

.container {
  margin: 0 30px 0 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: calc(100vh - 100px);
  list-style: none;
}

.content-container {
  padding: 40px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

footer {
  background-color: #3939ff;
  color: white;
  width: 100%;
  height: 50px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
